<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %level from %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="ipslog"
          fileName="logs/app.log"
          filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %level from %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="30000 kB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jetty" level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ipslog"/>
        </Logger>
        <Logger name="org.apache.shiro" level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ipslog"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ipslog"/>
        </Root>
    </Loggers>
</Configuration>